<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

The goal of the project is to analyze nationwide SAT scores and identify which states have the lowest participation rates, Math, and EBRW scores.  The US Department of Education can identify whether there is a correlation between SAT participation rate and test scores, and then determine if an additional grant allocation should be recommended for programs to improve overall student SAT performance.

## Problem Statement

Decide on your problem statement that will guide your analysis for this project. For guidelines, sample prompts, or inspiration, check out the README.

**To-Do:** *Replace this cell with your problem statement.*

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [1]:
# Code:

def avg_list(n):
    sumN = 0
    for i in n:
        sumN = sumN + i
    avg = sumN / len(n)
    return avg


print("The average of List is", avg_list([32, 21, 46, 55, 18]))

The average of List is 34.4

In [2]:
n = [32, 21, 46, 55, 18]
mean_value = avg_list(n)
mean_value

34.4

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [3]:
# Code:
def std_deviation(n):
    variance = 0
    for i in n:
        variance +=(i - avg_list(n))**2        
    stand_dev = (variance/len(n))**(1/2) 
    return stand_dev

print("The standard deviation is", std_deviation([32, 21, 46, 55, 18]))

The standard deviation is 14.235167719419396

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [4]:

def convert_str(num_str):
    try:
        x = num_str.replace('%', '')
        y = float(x)/100
        return y
    except:
        pass
    
convert_str('30.5%')

0.305

In [5]:
type(convert_str( '50%'))

float

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [6]:
# Imports:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

Load the data

In [7]:
file_path = '../data/sat2018.csv'

In [8]:
df_sat2018 = pd.read_csv(file_path)

In [9]:
df_sat2018

                   State Parti_Rate  EBRW  Math  Total
0                Alabama         6%   595   571   1166
1                 Alaska        43%   562   544   1106
2                Arizona        29%   577   572   1149
3               Arkansas         5%   592   576   1169
4             California        60%   540   536   1076
5               Colorado       100%   519   506   1025
6            Connecticut       100%   535   519   1053
7               Delaware       100%   505   492    998
8   District of Columbia        92%   497   480    977
9                Florida        56%   550   549   1099
10               Georgia        70%   542   522   1064
11                Hawaii        56%   480   530   1010
12                 Idaho       100%   508   493   1001
13              Illinois        99%   513   506   1019
14               Indiana        63%   542   532   1074
15                  Iowa         3%   634   631   1265
16                Kansas         4%   633   631   1265
17              Kentucky         4%   630   618   1248
18             Louisiana         4%   615   595   1210
19                 Maine        99%   512   501   1013
20              Maryland        76%   545   535   1080
21         Massachusetts        80%   562   563   1125
22              Michigan       100%   511   499   1011
23             Minnesota         4%   643   655   1298
24           Mississippi         3%   630   606   1236
25              Missouri         4%   633   629   1262
26               Montana        10%   606   592   1198
27              Nebraska         3%   629   623   1252
28                Nevada        23%   574   566   1140
29         New Hampshire        96%   535   528   1063
30            New Jersey        82%   547   547   1094
31            New Mexico        16%   552   540   1093
32              New York        79%   534   534   1068
33        North Carolina        52%   554   543   1098
34          North Dakota         2%   640   643   1283
35              Oklahoma         8%   541   521   1062
36                  Ohio        18%   552   547   1099
37                Oregon        48%   564   553   1117
38          Pennsylvania        70%   547   539   1086
39          Rhode Island        97%   513   505   1018
40        South Carolina        55%   547   523   1070
41          South Dakota         3%   622   618   1240
42             Tennessee         6%   624   607   1231
43                 Texas        66%   520   512   1032
44                  Utah         4%   480   530   1010
45               Vermont        64%   565   554   1120
46              Virginia        68%   567   550   1117
47            Washington        69%   543   538   1081
48         West Virginia        28%   513   486    999
49             Wisconsin         3%   641   653   1294
50               Wyoming         3%   633   625   1257

In [10]:
df_sat2018.head()

        State Parti_Rate  EBRW  Math  Total
0     Alabama         6%   595   571   1166
1      Alaska        43%   562   544   1106
2     Arizona        29%   577   572   1149
3    Arkansas         5%   592   576   1169
4  California        60%   540   536   1076

In [11]:
file_path = '../data/sat2019.csv'

In [12]:
df_sat2019 = pd.read_csv(file_path)

In [13]:
df_sat2019.head()

        State Parti_Rate  EBRW  Math  Total
0     Alabama         7%   583   560   1143
1      Alaska        41%   556   541   1097
2     Arizona        31%   569   565   1134
3    Arkansas         6%   582   559   1141
4  California        63%   534   531   1065

In [14]:
#  Show mean value and 25th percentile

df_sat2019.describe()

             EBRW        Math        Total
count   53.000000   53.000000    53.000000
mean   558.000000  548.471698  1106.528302
std     47.554422   53.785044   100.994784
min    483.000000  445.000000   935.000000
25%    518.000000  506.000000  1024.000000
50%    550.000000  545.000000  1097.000000
75%    610.000000  596.000000  1200.000000
max    636.000000  648.000000  1284.000000

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

In [15]:
# Code:
df_sat2018.isnull().sum()

State         0
Parti_Rate    0
EBRW          0
Math          0
Total         0
dtype: int64

In [16]:
df_sat2019.isnull().sum()

State         0
Parti_Rate    0
EBRW          0
Math          0
Total         0
dtype: int64

In [17]:
# It looks the data type for Parti_Rate is incorrect.  It should be float

df_sat2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       51 non-null     object
 1   Parti_Rate  51 non-null     object
 2   EBRW        51 non-null     int64
 3   Math        51 non-null     int64
 4   Total       51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [18]:
df_sat2018.rename(columns = {'State': 'state'}, inplace = True)

In [19]:
df_sat2018.rename(columns = {'Parti_Rate': 'parti_rate'}, inplace = True)

In [20]:
df_sat2018.rename(columns = {'EBRW': 'ebrw'}, inplace = True)

In [21]:
df_sat2018.rename(columns = {'Math': 'math'}, inplace = True)

In [22]:
df_sat2018.rename(columns = {'Total': 'total'}, inplace = True)

In [23]:
df_sat2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       51 non-null     object
 1   parti_rate  51 non-null     object
 2   ebrw        51 non-null     int64
 3   math        51 non-null     int64
 4   total       51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [24]:
# Change string in 2018 dataset to float with previous function convert_str

df_sat2018['parti_rate'] = df_sat2018['parti_rate'].map(convert_str)

In [25]:
df_sat2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       51 non-null     object
 1   parti_rate  51 non-null     float64
 2   ebrw        51 non-null     int64
 3   math        51 non-null     int64
 4   total       51 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.1+ KB

In [26]:
# Rename column to lower case
df_sat2019.rename(columns = {'State': 'state', 'Parti_Rate': 'parti_rate', 'EBRW': 'ebrw', 'Math': 'math', 'Total': 'total'}, inplace = True)

In [27]:
df_sat2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       53 non-null     object
 1   parti_rate  53 non-null     object
 2   ebrw        53 non-null     int64
 3   math        53 non-null     int64
 4   total       53 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.2+ KB

In [28]:
# search rows with incorrect data types 
df_sat2019[36:49]

             state parti_rate  ebrw  math  total
36        Oklahoma        22%   490   472    963
37          Oregon        51%   562   550   1112
38    Pennsylvania        70%   545   537   1082
39     Puerto Rico          —   483   462    944
40    Rhode Island       100%   503   492    995
41  South Carolina        68%   526   504   1030
42    South Dakota         3%   633   635   1268
43       Tennessee         7%   618   602   1220
44           Texas        68%   515   507   1022
45            Utah         4%   614   615   1230
46         Vermont        66%   560   546   1106
47  Virgin Islands          —   490   445    935
48        Virginia        68%   567   551   1119

In [29]:
df_sat2019.parti_rate

0       7%
1      41%
2      31%
3       6%
4      63%
5     100%
6     100%
7     100%
8      94%
9     100%
10     71%
11     54%
12    100%
13    100%
14     66%
15      3%
16      4%
17      4%
18      5%
19     99%
20     82%
21     81%
22    100%
23      4%
24      3%
25      4%
26      9%
27      3%
28     20%
29     95%
30     82%
31     18%
32     79%
33     51%
34      2%
35     19%
36     22%
37     51%
38     70%
39       —
40    100%
41     68%
42      3%
43      7%
44     68%
45      4%
46     66%
47       —
48     68%
49     70%
50     99%
51      3%
52      3%
Name: parti_rate, dtype: object

In [30]:
df_sat2019.head()

        state parti_rate  ebrw  math  total
0     Alabama         7%   583   560   1143
1      Alaska        41%   556   541   1097
2     Arizona        31%   569   565   1134
3    Arkansas         6%   582   559   1141
4  California        63%   534   531   1065

In [31]:
df_sat2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       53 non-null     object
 1   parti_rate  53 non-null     object
 2   ebrw        53 non-null     int64
 3   math        53 non-null     int64
 4   total       53 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.2+ KB

In [32]:
# Replace "-" with NaN value with 2019 dataset

df_sat2019['parti_rate'].replace('—', np.nan)

0       7%
1      41%
2      31%
3       6%
4      63%
5     100%
6     100%
7     100%
8      94%
9     100%
10     71%
11     54%
12    100%
13    100%
14     66%
15      3%
16      4%
17      4%
18      5%
19     99%
20     82%
21     81%
22    100%
23      4%
24      3%
25      4%
26      9%
27      3%
28     20%
29     95%
30     82%
31     18%
32     79%
33     51%
34      2%
35     19%
36     22%
37     51%
38     70%
39     NaN
40    100%
41     68%
42      3%
43      7%
44     68%
45      4%
46     66%
47     NaN
48     68%
49     70%
50     99%
51      3%
52      3%
Name: parti_rate, dtype: object

In [33]:
# Replace incorrect object type to "NaN value" for Parti_Rate

df_sat2019['parti_rate'] = df_sat2019['parti_rate'].replace('—', np.nan)

In [34]:
# Change 2019 dataset string to float with previous function convert_str

df_sat2019['parti_rate'] = df_sat2019['parti_rate'].map(convert_str)

In [35]:
df_sat2019.dtypes

state          object
parti_rate    float64
ebrw            int64
math            int64
total           int64
dtype: object

In [36]:
df_sat2019[36:49]

             state  parti_rate  ebrw  math  total
36        Oklahoma        0.22   490   472    963
37          Oregon        0.51   562   550   1112
38    Pennsylvania        0.70   545   537   1082
39     Puerto Rico         NaN   483   462    944
40    Rhode Island        1.00   503   492    995
41  South Carolina        0.68   526   504   1030
42    South Dakota        0.03   633   635   1268
43       Tennessee        0.07   618   602   1220
44           Texas        0.68   515   507   1022
45            Utah        0.04   614   615   1230
46         Vermont        0.66   560   546   1106
47  Virgin Islands         NaN   490   445    935
48        Virginia        0.68   567   551   1119

In [37]:
#add new column as 'year'
df_sat2018['year'] = 2018

In [38]:
df_sat2019['year'] = 2019

In [39]:
# Merge df_sat2018 and df_sat2019 dataframes
df_sat = [df_sat2018, df_sat2019]
df_sat_2018_2019 = pd.concat(df_sat)

In [40]:
pd.set_option('display.max_rows', 500)

In [41]:
df_sat_2018_2019.reset_index(drop = True)

                    state  parti_rate  ebrw  math  total  year
0                 Alabama        0.06   595   571   1166  2018
1                  Alaska        0.43   562   544   1106  2018
2                 Arizona        0.29   577   572   1149  2018
3                Arkansas        0.05   592   576   1169  2018
4              California        0.60   540   536   1076  2018
5                Colorado        1.00   519   506   1025  2018
6             Connecticut        1.00   535   519   1053  2018
7                Delaware        1.00   505   492    998  2018
8    District of Columbia        0.92   497   480    977  2018
9                 Florida        0.56   550   549   1099  2018
10                Georgia        0.70   542   522   1064  2018
11                 Hawaii        0.56   480   530   1010  2018
12                  Idaho        1.00   508   493   1001  2018
13               Illinois        0.99   513   506   1019  2018
14                Indiana        0.63   542   532   1074  2018
15                   Iowa        0.03   634   631   1265  2018
16                 Kansas        0.04   633   631   1265  2018
17               Kentucky        0.04   630   618   1248  2018
18              Louisiana        0.04   615   595   1210  2018
19                  Maine        0.99   512   501   1013  2018
20               Maryland        0.76   545   535   1080  2018
21          Massachusetts        0.80   562   563   1125  2018
22               Michigan        1.00   511   499   1011  2018
23              Minnesota        0.04   643   655   1298  2018
24            Mississippi        0.03   630   606   1236  2018
25               Missouri        0.04   633   629   1262  2018
26                Montana        0.10   606   592   1198  2018
27               Nebraska        0.03   629   623   1252  2018
28                 Nevada        0.23   574   566   1140  2018
29          New Hampshire        0.96   535   528   1063  2018
30             New Jersey        0.82   547   547   1094  2018
31             New Mexico        0.16   552   540   1093  2018
32               New York        0.79   534   534   1068  2018
33         North Carolina        0.52   554   543   1098  2018
34           North Dakota        0.02   640   643   1283  2018
35               Oklahoma        0.08   541   521   1062  2018
36                   Ohio        0.18   552   547   1099  2018
37                 Oregon        0.48   564   553   1117  2018
38           Pennsylvania        0.70   547   539   1086  2018
39           Rhode Island        0.97   513   505   1018  2018
40         South Carolina        0.55   547   523   1070  2018
41           South Dakota        0.03   622   618   1240  2018
42              Tennessee        0.06   624   607   1231  2018
43                  Texas        0.66   520   512   1032  2018
44                   Utah        0.04   480   530   1010  2018
45                Vermont        0.64   565   554   1120  2018
46               Virginia        0.68   567   550   1117  2018
47             Washington        0.69   543   538   1081  2018
48          West Virginia        0.28   513   486    999  2018
49              Wisconsin        0.03   641   653   1294  2018
50                Wyoming        0.03   633   625   1257  2018
51                Alabama        0.07   583   560   1143  2019
52                 Alaska        0.41   556   541   1097  2019
53                Arizona        0.31   569   565   1134  2019
54               Arkansas        0.06   582   559   1141  2019
55             California        0.63   534   531   1065  2019
56               Colorado        1.00   518   506   1024  2019
57            Connecticut        1.00   529   516   1046  2019
58               Delaware        1.00   499   486    985  2019
59   District of Columbia        0.94   495   480    975  2019
60                Florida        1.00   516   483    999  2019
61                Georgia        0.71   538   519   1058  2019
62                 Hawaii        0.54   550   550   1100  2019
63                  Idaho        1.00   505   488    993  2019
64               Illinois        1.00   509   504   1013  2019
65                Indiana        0.66   543   537   1080  2019
66                   Iowa        0.03   622   622   1244  2019
67                 Kansas        0.04   618   623   1241  2019
68               Kentucky        0.04   620   612   1232  2019
69              Louisiana        0.05   610   591   1200  2019
70                  Maine        0.99   512   502   1013  2019
71               Maryland        0.82   535   523   1058  2019
72          Massachusetts        0.81   559   561   1120  2019
73               Michigan        1.00   507   496   1003  2019
74              Minnesota        0.04   636   648   1284  2019
75            Mississippi        0.03   628   608   1237  2019
76               Missouri        0.04   622   615   1236  2019
77                Montana        0.09   603   596   1199  2019
78               Nebraska        0.03   628   631   1260  2019
79                 Nevada        0.20   580   576   1156  2019
80          New Hampshire        0.95   533   526   1059  2019
81             New Jersey        0.82   544   545   1090  2019
82             New Mexico        0.18   543   530   1073  2019
83               New York        0.79   531   533   1064  2019
84         North Carolina        0.51   554   546   1100  2019
85           North Dakota        0.02   627   636   1263  2019
86                   Ohio        0.19   550   548   1097  2019
87               Oklahoma        0.22   490   472    963  2019
88                 Oregon        0.51   562   550   1112  2019
89           Pennsylvania        0.70   545   537   1082  2019
90            Puerto Rico         NaN   483   462    944  2019
91           Rhode Island        1.00   503   492    995  2019
92         South Carolina        0.68   526   504   1030  2019
93           South Dakota        0.03   633   635   1268  2019
94              Tennessee        0.07   618   602   1220  2019
95                  Texas        0.68   515   507   1022  2019
96                   Utah        0.04   614   615   1230  2019
97                Vermont        0.66   560   546   1106  2019
98         Virgin Islands         NaN   490   445    935  2019
99               Virginia        0.68   567   551   1119  2019
100            Washington        0.70   539   535   1074  2019
101         West Virginia        0.99   483   460    943  2019
102             Wisconsin        0.03   635   648   1283  2019
103               Wyoming        0.03   623   615   1238  2019

In [42]:
df_sat_2018_2019.dtypes

state          object
parti_rate    float64
ebrw            int64
math            int64
total           int64
year            int64
dtype: object

In [43]:
df_sat_2018_2019

                   state  parti_rate  ebrw  math  total  year
0                Alabama        0.06   595   571   1166  2018
1                 Alaska        0.43   562   544   1106  2018
2                Arizona        0.29   577   572   1149  2018
3               Arkansas        0.05   592   576   1169  2018
4             California        0.60   540   536   1076  2018
5               Colorado        1.00   519   506   1025  2018
6            Connecticut        1.00   535   519   1053  2018
7               Delaware        1.00   505   492    998  2018
8   District of Columbia        0.92   497   480    977  2018
9                Florida        0.56   550   549   1099  2018
10               Georgia        0.70   542   522   1064  2018
11                Hawaii        0.56   480   530   1010  2018
12                 Idaho        1.00   508   493   1001  2018
13              Illinois        0.99   513   506   1019  2018
14               Indiana        0.63   542   532   1074  2018
15                  Iowa        0.03   634   631   1265  2018
16                Kansas        0.04   633   631   1265  2018
17              Kentucky        0.04   630   618   1248  2018
18             Louisiana        0.04   615   595   1210  2018
19                 Maine        0.99   512   501   1013  2018
20              Maryland        0.76   545   535   1080  2018
21         Massachusetts        0.80   562   563   1125  2018
22              Michigan        1.00   511   499   1011  2018
23             Minnesota        0.04   643   655   1298  2018
24           Mississippi        0.03   630   606   1236  2018
25              Missouri        0.04   633   629   1262  2018
26               Montana        0.10   606   592   1198  2018
27              Nebraska        0.03   629   623   1252  2018
28                Nevada        0.23   574   566   1140  2018
29         New Hampshire        0.96   535   528   1063  2018
30            New Jersey        0.82   547   547   1094  2018
31            New Mexico        0.16   552   540   1093  2018
32              New York        0.79   534   534   1068  2018
33        North Carolina        0.52   554   543   1098  2018
34          North Dakota        0.02   640   643   1283  2018
35              Oklahoma        0.08   541   521   1062  2018
36                  Ohio        0.18   552   547   1099  2018
37                Oregon        0.48   564   553   1117  2018
38          Pennsylvania        0.70   547   539   1086  2018
39          Rhode Island        0.97   513   505   1018  2018
40        South Carolina        0.55   547   523   1070  2018
41          South Dakota        0.03   622   618   1240  2018
42             Tennessee        0.06   624   607   1231  2018
43                 Texas        0.66   520   512   1032  2018
44                  Utah        0.04   480   530   1010  2018
45               Vermont        0.64   565   554   1120  2018
46              Virginia        0.68   567   550   1117  2018
47            Washington        0.69   543   538   1081  2018
48         West Virginia        0.28   513   486    999  2018
49             Wisconsin        0.03   641   653   1294  2018
50               Wyoming        0.03   633   625   1257  2018
0                Alabama        0.07   583   560   1143  2019
1                 Alaska        0.41   556   541   1097  2019
2                Arizona        0.31   569   565   1134  2019
3               Arkansas        0.06   582   559   1141  2019
4             California        0.63   534   531   1065  2019
5               Colorado        1.00   518   506   1024  2019
6            Connecticut        1.00   529   516   1046  2019
7               Delaware        1.00   499   486    985  2019
8   District of Columbia        0.94   495   480    975  2019
9                Florida        1.00   516   483    999  2019
10               Georgia        0.71   538   519   1058  2019
11                Hawaii        0.54   550   550   1100  2019
12                 Idaho        1.00   505   488    993  2019
13              Illinois        1.00   509   504   1013  2019
14               Indiana        0.66   543   537   1080  2019
15                  Iowa        0.03   622   622   1244  2019
16                Kansas        0.04   618   623   1241  2019
17              Kentucky        0.04   620   612   1232  2019
18             Louisiana        0.05   610   591   1200  2019
19                 Maine        0.99   512   502   1013  2019
20              Maryland        0.82   535   523   1058  2019
21         Massachusetts        0.81   559   561   1120  2019
22              Michigan        1.00   507   496   1003  2019
23             Minnesota        0.04   636   648   1284  2019
24           Mississippi        0.03   628   608   1237  2019
25              Missouri        0.04   622   615   1236  2019
26               Montana        0.09   603   596   1199  2019
27              Nebraska        0.03   628   631   1260  2019
28                Nevada        0.20   580   576   1156  2019
29         New Hampshire        0.95   533   526   1059  2019
30            New Jersey        0.82   544   545   1090  2019
31            New Mexico        0.18   543   530   1073  2019
32              New York        0.79   531   533   1064  2019
33        North Carolina        0.51   554   546   1100  2019
34          North Dakota        0.02   627   636   1263  2019
35                  Ohio        0.19   550   548   1097  2019
36              Oklahoma        0.22   490   472    963  2019
37                Oregon        0.51   562   550   1112  2019
38          Pennsylvania        0.70   545   537   1082  2019
39           Puerto Rico         NaN   483   462    944  2019
40          Rhode Island        1.00   503   492    995  2019
41        South Carolina        0.68   526   504   1030  2019
42          South Dakota        0.03   633   635   1268  2019
43             Tennessee        0.07   618   602   1220  2019
44                 Texas        0.68   515   507   1022  2019
45                  Utah        0.04   614   615   1230  2019
46               Vermont        0.66   560   546   1106  2019
47        Virgin Islands         NaN   490   445    935  2019
48              Virginia        0.68   567   551   1119  2019
49            Washington        0.70   539   535   1074  2019
50         West Virginia        0.99   483   460    943  2019
51             Wisconsin        0.03   635   648   1283  2019
52               Wyoming        0.03   623   615   1238  2019

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**state**|*object*|df_sat_2018_2019|SAT Dataset for States             |
|**parti_rate**|*Float64*|df_sat_2018_2019|SAT Dataset for Participates Rates |
|**ebrw**|*Int64*|df_sat_2018_2019|SAT Dataset for Reading and Writing|
|**math**|*Int64*|df_sat_2018_2019|SAT Dataset for Math               |
|**total**|*Int64*|df_sat_2018_2019|SAT Dataset for Total              |
|**year**|*Int64*|df_sat_2018_2019|SAT Dataset for Year              |

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [44]:
# Summary Statistics
df_sat_2018_2019[['parti_rate', 'ebrw', 'math', 'total']].describe()

       parti_rate        ebrw        math        total
count  102.000000  104.000000  104.000000   104.000000
mean     0.474020  560.788462  552.278846  1113.144231
std      0.378855   47.383925   50.828563    97.462307
min      0.020000  480.000000  445.000000   935.000000
25%      0.050000  524.500000  518.250000  1031.500000
50%      0.530000  550.000000  544.500000  1097.000000
75%      0.807500  611.000000  595.250000  1202.500000
max      1.000000  643.000000  655.000000  1298.000000

In [45]:
# create a dictionary comprehension 
sd_dict = {x:std_deviation(df_sat_2018_2019[x]) for x in df_sat_2018_2019 if x in ['ebrw', 'math', 'total']}

In [46]:
sd_dict

{'ebrw': 47.15556763704152,
 'math': 50.583604962243754,
 'total': 96.992606604559}

In [47]:
#Code:
# create a list comprehension 
#sd_list = [std_deviation(df_sat_2018_2019[x]) for x in df_sat_2018_2019 if x in ['ebrw', 'math', 'total']]

In [48]:
# get head information
df_sat_2018_2019.head()

        state  parti_rate  ebrw  math  total  year
0     Alabama        0.06   595   571   1166  2018
1      Alaska        0.43   562   544   1106  2018
2     Arizona        0.29   577   572   1149  2018
3    Arkansas        0.05   592   576   1169  2018
4  California        0.60   540   536   1076  2018

In [49]:
# get max value for sat in 2018 and 2019
df_sat_2018_2019.parti_rate.max()

1.0

In [50]:
# get min value for parti_rate column in sat in 2018 and 2019
df_sat_2018_2019.parti_rate.min()

0.02

In [51]:
# get max value for total column in sat in 2018 and 2019
df_sat_2018_2019.total.max()

1298

In [52]:
# get min value for total column in sat in 2018 and 2019
df_sat_2018_2019.total.min()

935

In [53]:
# get max value for all columns
df_sat_2018_2019.max()

state         Wyoming
parti_rate          1
ebrw              643
math              655
total            1298
year             2019
dtype: object

In [54]:
# get min value for all columns
df_sat_2018_2019.min()

state         Alabama
parti_rate       0.02
ebrw              480
math              445
total             935
year             2018
dtype: object

In [55]:
# sort df_sat_2018_2019
df_sat_2018_2019.sort_values(by = 'state', ascending = True)

                   state  parti_rate  ebrw  math  total  year
0                Alabama        0.06   595   571   1166  2018
0                Alabama        0.07   583   560   1143  2019
1                 Alaska        0.41   556   541   1097  2019
1                 Alaska        0.43   562   544   1106  2018
2                Arizona        0.31   569   565   1134  2019
2                Arizona        0.29   577   572   1149  2018
3               Arkansas        0.06   582   559   1141  2019
3               Arkansas        0.05   592   576   1169  2018
4             California        0.63   534   531   1065  2019
4             California        0.60   540   536   1076  2018
5               Colorado        1.00   518   506   1024  2019
5               Colorado        1.00   519   506   1025  2018
6            Connecticut        1.00   529   516   1046  2019
6            Connecticut        1.00   535   519   1053  2018
7               Delaware        1.00   499   486    985  2019
7               Delaware        1.00   505   492    998  2018
8   District of Columbia        0.94   495   480    975  2019
8   District of Columbia        0.92   497   480    977  2018
9                Florida        1.00   516   483    999  2019
9                Florida        0.56   550   549   1099  2018
10               Georgia        0.71   538   519   1058  2019
10               Georgia        0.70   542   522   1064  2018
11                Hawaii        0.54   550   550   1100  2019
11                Hawaii        0.56   480   530   1010  2018
12                 Idaho        1.00   505   488    993  2019
12                 Idaho        1.00   508   493   1001  2018
13              Illinois        1.00   509   504   1013  2019
13              Illinois        0.99   513   506   1019  2018
14               Indiana        0.66   543   537   1080  2019
14               Indiana        0.63   542   532   1074  2018
15                  Iowa        0.03   622   622   1244  2019
15                  Iowa        0.03   634   631   1265  2018
16                Kansas        0.04   633   631   1265  2018
16                Kansas        0.04   618   623   1241  2019
17              Kentucky        0.04   630   618   1248  2018
17              Kentucky        0.04   620   612   1232  2019
18             Louisiana        0.05   610   591   1200  2019
18             Louisiana        0.04   615   595   1210  2018
19                 Maine        0.99   512   501   1013  2018
19                 Maine        0.99   512   502   1013  2019
20              Maryland        0.82   535   523   1058  2019
20              Maryland        0.76   545   535   1080  2018
21         Massachusetts        0.80   562   563   1125  2018
21         Massachusetts        0.81   559   561   1120  2019
22              Michigan        1.00   507   496   1003  2019
22              Michigan        1.00   511   499   1011  2018
23             Minnesota        0.04   636   648   1284  2019
23             Minnesota        0.04   643   655   1298  2018
24           Mississippi        0.03   630   606   1236  2018
24           Mississippi        0.03   628   608   1237  2019
25              Missouri        0.04   633   629   1262  2018
25              Missouri        0.04   622   615   1236  2019
26               Montana        0.09   603   596   1199  2019
26               Montana        0.10   606   592   1198  2018
27              Nebraska        0.03   628   631   1260  2019
27              Nebraska        0.03   629   623   1252  2018
28                Nevada        0.23   574   566   1140  2018
28                Nevada        0.20   580   576   1156  2019
29         New Hampshire        0.96   535   528   1063  2018
29         New Hampshire        0.95   533   526   1059  2019
30            New Jersey        0.82   544   545   1090  2019
30            New Jersey        0.82   547   547   1094  2018
31            New Mexico        0.18   543   530   1073  2019
31            New Mexico        0.16   552   540   1093  2018
32              New York        0.79   531   533   1064  2019
32              New York        0.79   534   534   1068  2018
33        North Carolina        0.52   554   543   1098  2018
33        North Carolina        0.51   554   546   1100  2019
34          North Dakota        0.02   640   643   1283  2018
34          North Dakota        0.02   627   636   1263  2019
36                  Ohio        0.18   552   547   1099  2018
35                  Ohio        0.19   550   548   1097  2019
35              Oklahoma        0.08   541   521   1062  2018
36              Oklahoma        0.22   490   472    963  2019
37                Oregon        0.51   562   550   1112  2019
37                Oregon        0.48   564   553   1117  2018
38          Pennsylvania        0.70   547   539   1086  2018
38          Pennsylvania        0.70   545   537   1082  2019
39           Puerto Rico         NaN   483   462    944  2019
39          Rhode Island        0.97   513   505   1018  2018
40          Rhode Island        1.00   503   492    995  2019
40        South Carolina        0.55   547   523   1070  2018
41        South Carolina        0.68   526   504   1030  2019
42          South Dakota        0.03   633   635   1268  2019
41          South Dakota        0.03   622   618   1240  2018
42             Tennessee        0.06   624   607   1231  2018
43             Tennessee        0.07   618   602   1220  2019
44                 Texas        0.68   515   507   1022  2019
43                 Texas        0.66   520   512   1032  2018
44                  Utah        0.04   480   530   1010  2018
45                  Utah        0.04   614   615   1230  2019
46               Vermont        0.66   560   546   1106  2019
45               Vermont        0.64   565   554   1120  2018
47        Virgin Islands         NaN   490   445    935  2019
46              Virginia        0.68   567   550   1117  2018
48              Virginia        0.68   567   551   1119  2019
49            Washington        0.70   539   535   1074  2019
47            Washington        0.69   543   538   1081  2018
48         West Virginia        0.28   513   486    999  2018
50         West Virginia        0.99   483   460    943  2019
49             Wisconsin        0.03   641   653   1294  2018
51             Wisconsin        0.03   635   648   1283  2019
50               Wyoming        0.03   633   625   1257  2018
52               Wyoming        0.03   623   615   1238  2019

In [56]:
# Do any states show have >50% participation on both tests each year?
great_than_number = df_sat_2018_2019[df_sat_2018_2019['parti_rate'] > 0.50]

In [67]:
# participation rate less than 5%
partipation_less_than_number = df_sat2019[df_sat2019['parti_rate'] < 0.05]

In [68]:
partipation_less_than_number

           state  parti_rate  ebrw  math  total  year
15          Iowa        0.03   622   622   1244  2019
16        Kansas        0.04   618   623   1241  2019
17      Kentucky        0.04   620   612   1232  2019
23     Minnesota        0.04   636   648   1284  2019
24   Mississippi        0.03   628   608   1237  2019
25      Missouri        0.04   622   615   1236  2019
27      Nebraska        0.03   628   631   1260  2019
34  North Dakota        0.02   627   636   1263  2019
42  South Dakota        0.03   633   635   1268  2019
45          Utah        0.04   614   615   1230  2019
51     Wisconsin        0.03   635   648   1283  2019
52       Wyoming        0.03   623   615   1238  2019

In [60]:
# States with ebrw scores lower than the nationwide 25th percentile 2018 and 2019
# ebrw_less_than_number = df_sat_2018_2019[df_sat_2018_2019['ebrw'] < 525]
ebrw_less_than_number = df_sat2019[df_sat2019['ebrw'] < 525]

In [61]:
ebrw_less_than_number

                   state  parti_rate  ebrw  math  total  year
5               Colorado        1.00   518   506   1024  2019
7               Delaware        1.00   499   486    985  2019
8   District of Columbia        0.94   495   480    975  2019
9                Florida        1.00   516   483    999  2019
12                 Idaho        1.00   505   488    993  2019
13              Illinois        1.00   509   504   1013  2019
19                 Maine        0.99   512   502   1013  2019
22              Michigan        1.00   507   496   1003  2019
36              Oklahoma        0.22   490   472    963  2019
39           Puerto Rico         NaN   483   462    944  2019
40          Rhode Island        1.00   503   492    995  2019
44                 Texas        0.68   515   507   1022  2019
47        Virgin Islands         NaN   490   445    935  2019
50         West Virginia        0.99   483   460    943  2019

In [65]:
# States with math scores lower than the nationwide 25th percentile 2018 and 2019
math_less_than_number = df_sat2019[df_sat2019['math'] < 518]

In [66]:
math_less_than_number

                   state  parti_rate  ebrw  math  total  year
5               Colorado        1.00   518   506   1024  2019
6            Connecticut        1.00   529   516   1046  2019
7               Delaware        1.00   499   486    985  2019
8   District of Columbia        0.94   495   480    975  2019
9                Florida        1.00   516   483    999  2019
12                 Idaho        1.00   505   488    993  2019
13              Illinois        1.00   509   504   1013  2019
19                 Maine        0.99   512   502   1013  2019
22              Michigan        1.00   507   496   1003  2019
36              Oklahoma        0.22   490   472    963  2019
39           Puerto Rico         NaN   483   462    944  2019
40          Rhode Island        1.00   503   492    995  2019
41        South Carolina        0.68   526   504   1030  2019
44                 Texas        0.68   515   507   1022  2019
47        Virgin Islands         NaN   490   445    935  2019
50         West Virginia        0.99   483   460    943  2019

In [ ]:
# ebrw less than 25th percentile nationwide
ebrw_less_than_number

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
mean2019 = df_sat2019.mean()

In [ ]:
mean2019

In [ ]:
math_lowest = df_sat2019.sort_values(by = 'math', ascending = False)[-10:]

In [ ]:
math_lowest

In [ ]:
ebrw_lowest = df_sat2019.sort_values(by = 'ebrw', ascending = False)[-10:]

In [ ]:
ebrw_lowest

In [ ]:
plt.figure(figsize = (19, 5))
plt.bar(x = math_lowest['state'], height = math_lowest['ebrw']);
plt.title('Lowest 10 Sat Scores in States');
plt.xlabel('State');
plt.ylabel('ebrw');
#plt.hlines(mean2019['math'],-2, 2);
plt.hlines(y = 550, xmin = 0, xmax = 11.5, color ='r')
plt.text(6, 520, 'Nationwide Mean Value on EBRW in 2019 is 558', ha ='left', va ='center');

In [ ]:
plt.figure(figsize = (19, 5))
plt.bar(x = math_lowest['state'], height = math_lowest['math']);
plt.title('Lowest 10 Sat Scores in States');
plt.xlabel('State');
plt.ylabel('Math');
#plt.hlines(mean2019['math'],-2, 2);
plt.hlines(y = 549, xmin = 0, xmax = 11.5, color ='r')
plt.text(3, 520, 'Nationwide Mean Value on Math in 2019 is 548.47', ha ='left', va ='center');

In [ ]:
plt.figure(figsize = (15, 5))
plt.bar(x = math_lowest['state'], height = math_lowest['ebrw']);
plt.title('Lowest 10 Sat Scores in States');
plt.xlabel('State');
plt.ylabel('EBRW');

In [ ]:
# Develop a bar chart for dataframe
math_top = df_sat_2018_2019.sort_values(by = 'math', ascending = False)[:10]
math_top

In [ ]:
plt.figure(figsize = (9, 5))
plt.bar(x = math_top['state'], height = math_top['total']);
plt.title('Top 10 Sat Scores in States');
plt.xlabel('State');
plt.ylabel('total');

In [ ]:
# Develop a histgram
plt.figure(figsize = (8, 3))
plt.hist(df_sat_2018_2019['ebrw'], color = 'lightblue', bins = 16);
plt.title('Histogram for Sat Scores in States')
plt.xlabel('ebrw');
plt.ylabel('freqency');

In [ ]:
# Scatter graph
plt.figure(figsize = (8, 4))
plt.scatter(x = df_sat_2018_2019['ebrw'], y = df_sat_2018_2019['math'], alpha = .8, color = 'indigo', marker = 'x');
plt.title('Scatter for Sat Scores in States');

In [ ]:
# Develop a heatmap
corr = df_sat_2018_2019.corr()
#mask = np.zeros_like(corr)
#mask[np.triu_indices_from(mask)] = True
plt.figure(figsize=(15, 5))
sns.heatmap(corr, annot = True, cmap = 'coolwarm', vmin = -1, vmax = 1);
plt.title('Heatmap for Sat Scores in States');

In [ ]:
corr2 = df_sat_2018_2019.corr()[['ebrw']].sort_values('ebrw')
corr2

In [ ]:
type(corr2)

In [ ]:
# Develop a Boxplot to display distribution - how this variable spread
sns.boxplot(df_sat_2018_2019['math']).set(title = 'try', xlabel = 'testx', ylabel = 'testy');

In [ ]:
sns.heatmap(corr2, annot = True, cmap = 'viridis')

## Conclusions and Recommendations

Based on SAT score averages for the years 2018 and 2019, we recommend additional grant funding be allocated to those states,  where the EBRW and Math scores were below the nationwide lower 25th percentile values of 525 and 518 respectively.  However, we do not recommend funding grants to increase SAT participation rates, because there does not appear to be a direct correlation between participation rate and test scores.

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

My datasets come from the data folder for this project at Generate Assembly.

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!